Create database [dbEmpresa]
go

USE [dbEmpresa]
GO
/****** Object:  Table [dbo].[CentroDeCusto]    Script Date: 04/09/2026 16:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentroDeCusto](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[CodigoCentro] [varchar](20) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Descricao] [varchar](250) NULL,
	[DepartamentoId] [int] NULL,
	[ResponsavelId] [int] NULL,
	[OrcamentoMensal] [decimal](18, 2) NULL,
	[DataCriacao] [date] NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_CentroDeCusto] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 04/09/2026 16:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Sigla] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 04/09/2026 16:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Cargo] [varchar](50) NOT NULL,
	[DepartamentoId] [int] NOT NULL,
	[CodigoGerente] [int] NULL,
	[EhGerente] [bit] NOT NULL,
 CONSTRAINT [PK_Funcionario] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidente]    Script Date: 04/09/2026 16:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidente](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[DescricaoProblema] [varchar](250) NOT NULL,
	[DataIncidente] [datetime] NOT NULL,
	[Solucao] [varchar](250) NULL,
	[Resolvido] [varchar](3) NOT NULL,
 CONSTRAINT [PK_Incidente] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarefa]    Script Date: 04/09/2026 16:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarefa](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](200) NOT NULL,
	[DataPlanejada] [datetime] NOT NULL,
	[DataIniciada] [datetime] NULL,
	[DataFinalizada] [datetime] NULL,
	[DataCancelada] [datetime] NULL,
	[StatusTarefa] [varchar](30) NOT NULL,
	[Prazo] [varchar](20) NOT NULL,
	[FuncionarioId] [int] NOT NULL,
 CONSTRAINT [PK_Tarefa] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CentroDeCusto] ON 

INSERT [dbo].[CentroDeCusto] ([Codigo], [CodigoCentro], [Nome], [Descricao], [DepartamentoId], [ResponsavelId], [OrcamentoMensal], [DataCriacao], [Ativo]) VALUES (3, N'CUSTOS01', N'Custos com Leite Condensado', NULL, 3, 9, CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-09-04' AS Date), 1)
SET IDENTITY_INSERT [dbo].[CentroDeCusto] OFF
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([Codigo], [Nome], [Sigla]) VALUES (1, N'Tecnologia da Informacao', N'TI')
INSERT [dbo].[Departamento] ([Codigo], [Nome], [Sigla]) VALUES (2, N'Recursos Humanos', N'RH')
INSERT [dbo].[Departamento] ([Codigo], [Nome], [Sigla]) VALUES (3, N'Financeiro', N'FIN')
SET IDENTITY_INSERT [dbo].[Departamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Funcionario] ON 

INSERT [dbo].[Funcionario] ([Codigo], [Nome], [Cargo], [DepartamentoId], [CodigoGerente], [EhGerente]) VALUES (6, N'Reginaldo', N'Chefe do setor', 1, NULL, 1)
INSERT [dbo].[Funcionario] ([Codigo], [Nome], [Cargo], [DepartamentoId], [CodigoGerente], [EhGerente]) VALUES (7, N'Miguel Lima', N'Desenvolvedor', 1, 6, 0)
INSERT [dbo].[Funcionario] ([Codigo], [Nome], [Cargo], [DepartamentoId], [CodigoGerente], [EhGerente]) VALUES (8, N'Felippe Matheus', N'Office Boy', 4, 10, 0)
SET IDENTITY_INSERT [dbo].[Funcionario] OFF
GO
SET IDENTITY_INSERT [dbo].[Incidente] ON 

INSERT [dbo].[Incidente] ([Codigo], [DescricaoProblema], [DataIncidente], [Solucao], [Resolvido]) VALUES (2, N'Discussão entre Pelé e Guilherme', CAST(N'2026-09-18T10:42:00.000' AS DateTime), N'Beijo de língua entre os dois', N'sim')
SET IDENTITY_INSERT [dbo].[Incidente] OFF
GO
SET IDENTITY_INSERT [dbo].[Tarefa] ON 

INSERT [dbo].[Tarefa] ([Codigo], [Descricao], [DataPlanejada], [DataIniciada], [DataFinalizada], [DataCancelada], [StatusTarefa], [Prazo], [FuncionarioId]) VALUES (3, N'Tirar o lixo', CAST(N'2026-09-11T00:00:00.000' AS DateTime), CAST(N'2026-09-10T00:00:00.000' AS DateTime), CAST(N'2026-09-11T00:00:00.000' AS DateTime), NULL, N'Em Andamento', N'Em dia', 8)
SET IDENTITY_INSERT [dbo].[Tarefa] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CentroDeCusto_CodigoCentro]    Script Date: 04/09/2026 16:40:39 ******/
ALTER TABLE [dbo].[CentroDeCusto] ADD  CONSTRAINT [UQ_CentroDeCusto_CodigoCentro] UNIQUE NONCLUSTERED 
(
	[CodigoCentro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CentroDeCusto] ADD  CONSTRAINT [DF_CentroDeCusto_DataCriacao]  DEFAULT (CONVERT([date],getdate())) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[CentroDeCusto] ADD  CONSTRAINT [DF_CentroDeCusto_Ativo]  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Funcionario] ADD  CONSTRAINT [DF_Funcionario_EhGerente]  DEFAULT ((0)) FOR [EhGerente]
GO
ALTER TABLE [dbo].[CentroDeCusto]  WITH CHECK ADD  CONSTRAINT [FK_CentroDeCusto_Departamento] FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[Departamento] ([Codigo])
GO
ALTER TABLE [dbo].[CentroDeCusto] CHECK CONSTRAINT [FK_CentroDeCusto_Departamento]
GO
ALTER TABLE [dbo].[CentroDeCusto]  WITH CHECK ADD  CONSTRAINT [FK_CentroDeCusto_Responsavel] FOREIGN KEY([ResponsavelId])
REFERENCES [dbo].[Funcionario] ([Codigo])
GO
ALTER TABLE [dbo].[CentroDeCusto] CHECK CONSTRAINT [FK_CentroDeCusto_Responsavel]
GO
ALTER TABLE [dbo].[Funcionario]  WITH CHECK ADD  CONSTRAINT [FK_Funcionario_Departamento] FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[Departamento] ([Codigo])
GO
ALTER TABLE [dbo].[Funcionario] CHECK CONSTRAINT [FK_Funcionario_Departamento]
GO
ALTER TABLE [dbo].[Funcionario]  WITH CHECK ADD  CONSTRAINT [FK_Funcionario_Gerente] FOREIGN KEY([CodigoGerente])
REFERENCES [dbo].[Funcionario] ([Codigo])
GO
ALTER TABLE [dbo].[Funcionario] CHECK CONSTRAINT [FK_Funcionario_Gerente]
GO
ALTER TABLE [dbo].[Tarefa]  WITH CHECK ADD  CONSTRAINT [FK_Tarefa_Funcionario] FOREIGN KEY([FuncionarioId])
REFERENCES [dbo].[Funcionario] ([Codigo])
GO
ALTER TABLE [dbo].[Tarefa] CHECK CONSTRAINT [FK_Tarefa_Funcionario]
GO
